# Annoying files i want to ignore
*.exe
*.md
*.debug
*.release
*.dll
*.pro.user

# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Qt Creator user file for CMakeLists.txt
CMakeLists.txt.user

# User specific game settings file
settings.cfg

# Generated documentation
doc/
